# Python
__pycache__/
*.pyc

# Virtual Env
venv/

# Jupyter
.ipynb_checkpoints/

# Data Besar
data/interim/
data/processed/density/
data/processed/dashboard_density_dataset.parquet

# Model
models/

# Streamlit cache
.streamlit/

# OS
.DS_Store

# AI Agent
CODEX.md
PROJECT.md
